.features-section {
  padding: 120px 0;
}
.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 100%;
  height: 112px;
  background: #f4f4fd;
}
.features-icon {
}

.features-list {
  display: flex;
  justify-content: space-between;
}
.features-item {
  width: 264px;
}
