.features-section {
  padding: 96px 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  width: 100%;
}

.features-item .section-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.features-item .section-caption {
  font-weight: 500;
}

.features-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  background-color: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .features-item .section-text {
    text-align: left;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-section {
    padding: 120px 0;
  }

  .features-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .features-wrapper {
    display: flex;
  }

  .features-item .section-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
