.footer-section {
  padding: 100px 0;
  background-color: #2e2f42;
}
.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-caption {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-socials {
  margin-left: 120px;
}

.media-caption {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.bottom-socials {
  gap: 16px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

/* Footer form */

.footer-form-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
}

.footer-form {
  display: flex;
  gap: 24px;
}
.footer-form-caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  padding: 8px 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: transparent;
  outline: transparent;
  border: 1px solid #fff;
  border-radius: 4px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.footer-form-input::placeholder {
  color: #fff;
}

.footer-form-input:hover,
.footer-form-input:focus {
  border-color: #31d0aa;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  width: 165px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}

.footer-form-icon {
  color: #fff;
  pointer-events: none;
}
