ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .section {
    padding: 120px 0;
  }
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (min-width:768px) {
    .container {
        width: 768px;
      }
  }
  @media screen and (min-width:1158px) {
    .container {
        width: 1158px;
    
      }
  }
  
  @media screen and (max-width:1157px) {
    .section{
        padding: 96px 0;
    }
  }
  .is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
.no-scroll{
  overflow: hidden;
}
/* ========================  MOBILE  ===================== */

@media screen and (max-width:767px) {
  /* ======================== HEADER=================== */

  .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .menu{
    display: none;
  }
  .contacts-list{
    display: none;
  }
  .page-header-cont{
    justify-content: space-between;
  
  }
  .top-line{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .logo{
    color:#4D5AE5 ;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
display: inline-flex;
align-items: center;
margin-right: 149px;
  }
  .logo-plus{
    color:#2E2F42 ;
  }
  .mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke:#2F2F37;
  }
  .mobile-menu-wrapper{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translate(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-wrapper.is-open{
    transform: translate(0%);
  }
 .mobile-menu-close-btn{
    background-color: transparent;
    position: absolute;
    top: 24px;
    right: 16px;
    border: none;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #E7E9FC;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.10);
 }
 
 .mobile-menu-container{
    width: 320px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 24px;
    padding-top: 72px;
    padding-bottom: 40px;

 }
 .mobile-contacts-wrapper{
  margin-top: auto;
 }
 .mobile-menu-navigation{
    margin-bottom: auto;
 }
 .mobile-menu{
    display: flex;
    flex-direction: column;
    gap:40px;
 }

.mobile-menu-link{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-decoration: none;
}
.nav-header{
    margin-bottom: auto;
}
.color-word{
    color: #404BBF;
}
.mobile-contacts-list{
display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
margin-bottom: 48px;

}
.mobile-contacts-link{
  font-style: normal;
    color:  #434455;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.color-link{
    color: #4D5AE5;
}
.mobile-menu-social-list {
    display: inline-flex;
align-items: flex-start;
gap: 40px;
}
.mobile-menu-social-list-item{
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-list-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-social-list-icon{
    fill: #F4F4FD;
}
  /* ======================= FIRST SECTION ================ */
  .first-section {
    background-repeat: no-repeat;
    background-position: center;
    padding: 72px 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/dark-bgoffice-people-mobile@1x.jpg');
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx){
    .first-section{
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/dark-bg-office-people-mobile@2x.jpg');
    }
  }
  .main-item {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    max-width: 222px;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
  }
  button {
    cursor: pointer;
  }
  .b-text {
    background: #4d5ae5;
  }
  .b-text:hover,
  .b-text:focus {
    background-color: #404bbf;
  }
  
  .b-text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /* ===================== ADVANTAGES ================= */
  .second-section{
    padding: 96px 0;
  }
  .advantages-icon {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    padding: 24px 100px;
    justify-content: center;
  }
  .headers-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
  }


  .strategy-text {
    text-align: center;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .goal {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* =========================== TEAM ==================== */
  .third-section {
    margin-right: auto;
    margin-left: auto;
    background-color: #f4f4fd;
    padding: 96px 0;
  }
  .team-container{
    max-width: 296px;
  }
  .team {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .team-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  .team-list {
    width: 264px;
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .team-list-container {
    padding: 32px 0;
  }
  
  .name {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  
  .position {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .social-media-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .social-list-link {
    width: 40px;
    height: 40px;
    
  }
  .social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .media-link {
    fill: #f4f4fd;
  }
  /* ========================== OUR PORTFOLIO ================== */
.fourth-section{
  padding: 96px 0;
}
  
  .portfolio {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .about {
    display: flex;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
  }
  .adds {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adds:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
  }
  
  
  .adds-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adds:hover .overlay-text {
    transform: translateY(0%);
  }
  .banking {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .app {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* ========================= FOOTER================== */
  .bottom-line {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    background: #2e2f42;
    padding: 96px 0;
  }
  .underline {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 72px;
  }
  
  
  .under-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
  }
  .logo-bottom {
    color: #f4f4fd;
  }
  .info {
    max-width: 264px;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
 
  .media-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .bottom-list {
    display: flex;
    gap: 16px;
  }
  .social-list-bottom {
    width: 40px;
    height: 40px;
  }
  .social-link-bottom {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-link-bottom:hover,
  .social-link-bottom:focus {
    background-color: #31d0aa;
  }
  .media-link-bottom {
    fill: #f4f4fd;
  }
  .page-header-cont {
    display: flex;
    align-items: center;
  }
  
  .underline-form-text{
    margin-bottom: 16px;
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
  
  }
  .underline-form-field-input{
    width: 288px; 
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px; 
    line-height: 2; 
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
    opacity: 0.3;
    
  
  }
  .underline-form-field-input::placeholder{
    color: #ffffff; 
  }
  .underline-form-btn{

    min-width: 165px;
    height: 40px;
    display:flex;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    padding: 8px 24px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* ========================= CHECKBOX==================== */
  .contacts-form-checkbox-wrapper {
    margin-bottom: 24px;
  
  }
  .contacts-form-checkbox:checked
  +.contacts-form-checkbox-label
  >.contacts-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
  }
  
  .contacts-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: #8e8f99;
    display: flex;
    align-items: center;
  }
  
  .contacts-form-own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    fill: transparent;
    margin-right: 8px;
    flex-shrink: 0;
  
  }
  
  .accent-color {
    color: #4d5ae5;
  }
  .contacts-form-submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5 ;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .letter-icon{
    margin-left: 16px;
  }
  
  
  .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999999;
      width: 100%;
      height: 100%;
      background-color: rgba(46, 47, 66, 0.4);
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  .modal {
      position: absolute;
      top: 50%;
      left: 50%; 
      transform: translate(-50%, -50%);
      width: 288px;
      min-height: 623px;
      background-color: #fcfcfc;
      border-radius: 4px;
      padding: 72px 24px 24px 24px;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  }
  .modal-close-btn {
      align-items: center;
      justify-content: center;
      display: flex;
      position: absolute;
      top: 24px;
      right: 24px;
      padding: 0;
      width: 24px;
      height: 24px;
      line-height: 0;
      background-color: #e7e9fc;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: 1px solid rgba(0, 0, 0, 0.1);
  
  }
  .modal-close-btn:focus,
  .modal-close-btn:hover{
      background-color: #404bbf;
      border: none;
      fill: #ffffff;
  }
  .modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .contacts-form-description {
    display: flex;
      color: #2e2f42;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      margin-bottom: 16px;
  }
  
  .contacts-form-field-wrapper {
      position: relative;
      margin-bottom: 8px;
  }
  .contacts-form-field-label {
      color: #8e8f99;
      font-size: 12px;
      line-height: 1.17; 
      letter-spacing: 0.04em;
      display: block;
      margin-bottom: 4px;
  }
  
  .contacts-form-input-wrapper {
      position: relative;
  }
  .contacts-form-input {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      padding-left: 38px;
      background-color: transparent;
      border: 1px solid #4d5ae5;
      outline: transparent;
      border: 1px solid rgba(46, 47, 66, 0.4);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  input:focus+svg{
      fill: #4D5AE5; 
  }
  .contacts-form-input-icon { 
      display: block;
      position: absolute;
      top: 50%;
      left: 16px;
      bottom: 8px;
      fill: #2e2f42;
      transform: translateY(-50%);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .comment{
      margin-bottom: 16px;
  }
  textarea{
      width: 100%;
      height: 120px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px; 
      background-color: transparent;
      padding: 8px 16px;
      outline: transparent;
      resize: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
  
  
  }
  .contacts-form-input:focus{
    border-color: #4D5AE5;
  }
  textarea:focus{
      border-color: #4D5AE5;
  }
  .contacts-form-submit-btn{
    margin: 0 auto; 
  }
  .accent-color{
    text-decoration: underline;
  }
  
}
/* ========================  TABLET========================= */
@media screen and (min-width: 768px) {
  .mobile-menu-open-btn{
    display: none;
  }
  .mobile-menu-container{
    display: none;
  }
  .top-line {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-shrink: 0;
    border-bottom: 1px solid #e7e9fc;
    background: #fff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .page-header-cont {
    display: flex;
    align-items: center;
  }
  .main-navigation {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    gap: 40px;
    margin-right: auto;
  }
  
  .contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contacts-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  .logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    margin-right: 76px;
    position: relative;
    color: #404bbf;
  }
  .logo-plus {
    color: #2e2f42;
  }
  .menu-link {
    color: #404bbf;
    position: relative;
    display: block;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:active,
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .decor {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .decor::after {
    content: '';
    position: absolute;
    display: block;
    width: 48px;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    left: 0;
    bottom: -1px;
  }
  .contacts {
    font-style: normal;
  }
  .contacts-link {
    width: 118px;
    height: 14px;
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .contacts-link:active,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* ========================= FIRST SECTION ============== */
  .first-section {
    background-repeat: no-repeat;
    background-position: center;
    padding: 112px 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #2e2f42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/dark-bg-office-tablet@1x.jpg');
    background-size: cover;
  }
  @media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx){
    .first-section{
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/dark-bg-office-tab@2x.jpg');
    }
  }
  .main-item {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
  }
  button {
    cursor: pointer;
  }
  .b-text {
    background: #4d5ae5;
  }
  .b-text:hover,
  .b-text:focus {
    background-color: #404bbf;
  }
  
  .b-text {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* ======================== ADVANTAGES =============== */
  .second-section{
    padding: 96px 0;
  }
  .advantages-icon {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    padding: 24px 100px;
    justify-content: center;
  }
  .headers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;  
  }
  .headers-list-menu {
    width: 356px;
  
  }
  .strategy-text {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .goal {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /* ========================= TEAM ==================== */
  .third-section {
    padding: 96px 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #f4f4fd;
  }
  .team {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .team-item {
    display: flex;
    flex-wrap: wrap;
    gap:64px 24px;
    justify-content: center;
  }
  .team-list {
    background-color: #ffffff;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .team-list-container {
    padding: 32px 0;
  }
  
  .name {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  
  .position {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .social-media-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .social-list-link {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-link:hover,
  .social-link:focus {
    background-color: #404bbf;
  }
  
  .media-link {
    fill: #f4f4fd;
  }
  /* ====================== OUR PORTFOLIO ============== */

  .fourth-section{
    padding: 96px 0;
  }
  .portfolio {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }
  .about {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
  }
  .adds {
    width: 356px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .adds:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    
  }
  .adds:hover .overlay-text {
    transform: translateY(0%);
  }
  
  .adds-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .overlay {
    position: relative;
    overflow: hidden;
  }
  .overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .banking {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
  .app {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ============================ FOOTER ======================= */
  .bottom-line {
    margin-right: auto;
    margin-left: auto;
    background: #2e2f42;
    padding: 96px 0;
  }
  .underline {
    display: flex;
    flex-wrap: wrap;
    gap:72px 24px;
  }
  
  
  .under-logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
  }
  .logo-bottom {
    color: #f4f4fd;
  }
  .info {
    max-width: 264px;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  .media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .bottom-list {
    display: flex;
    gap: 16px;
  }
  .social-list-bottom {
    width: 40px;
    height: 40px;
  }
  .social-link-bottom {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-link-bottom:hover,
  .social-link-bottom:focus {
    background-color: #31d0aa;
  }
  .media-link-bottom {
    fill: #f4f4fd;
  }
  
  .underline-form-text{
    margin-bottom: 16px;
    font-weight: 500; 
    font-size: 16px; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
  
  }
  
  .underline-form-field{
    display: flex;
    gap: 24px;
  }
  .underline-form-field-input{
    width: 264px; 
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px; 
    line-height: 2; 
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
  
  }
  .underline-form-field-input::placeholder{
    color: #ffffff; 
  }
  .underline-form-btn{
    min-width: 165px;
    height: 40px;
    display: flex;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    justify-content: center; 
  }
  
  
  /* ======================== CHECKBOX=================== */
  .contacts-form-checkbox-wrapper {
    margin-bottom: 24px;
  
  }
  .contacts-form-checkbox:checked
  +.contacts-form-checkbox-label
  >.contacts-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
  }
  
  .contacts-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em; 
    color: #8e8f99;
  }
  
  .contacts-form-own-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    fill: transparent;
  
  }
  
  .accent-color {
    color: #4d5ae5;
  }
  .contacts-form-submit-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5 ;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .letter-icon{
    margin-left: 16px;
  }
  
  
  .backdrop {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999999;
      width: 100%;
      height: 100%;
      background-color: rgba(46, 47, 66, 0.4);
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
 
  .modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 408px;
      min-height: 584px;
      background-color: #fcfcfc;
      border-radius: 4px;
      padding: 72px 24px 24px 24px;
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  }
  .modal-close-btn {
      align-items: center;
      justify-content: center;
      display: flex;
      position: absolute;
      top: 24px;
      right: 24px;
      padding: 0;
      width: 24px;
      height: 24px;
      line-height: 0;
      background-color: #e7e9fc;
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      border: 1px solid rgba(0, 0, 0, 0.1);
  
  }
  .modal-close-btn:focus,
  .modal-close-btn:hover{
      background-color: #404bbf;
      border: none;
      fill: #ffffff;
  }
  .modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  .contacts-form-description {
      color: #2e2f42;
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      width: 360px;
      margin-bottom: 16px;
  }
  
  .contacts-form-field-wrapper {
      position: relative;
      margin-bottom: 8px;
  }
  .contacts-form-field-label {
      color: #8e8f99;
      font-size: 12px;
      line-height: 1.17; 
      letter-spacing: 0.04em;
      display: block;
      margin-bottom: 4px;
  }
  
  .contacts-form-input-wrapper {
      position: relative;
  }
  .contacts-form-input {
      width: 100%;
      height: 40px;
      border-radius: 4px;
      padding-left: 38px;
      background-color: transparent;
      border: 1px solid #4d5ae5;
      outline: transparent;
      border: 1px solid rgba(46, 47, 66, 0.4);
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  input:focus+svg{
      fill: #4D5AE5; 
  }
  .contacts-form-input-icon { 
      display: block;
      position: absolute;
      top: 50%;
      left: 16px;
      bottom: 8px;
      fill: #2e2f42;
      transform: translateY(-50%);
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .comment{
      margin-bottom: 16px;
  }
  textarea{
      width: 100%;
      height: 120px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: rgba(46, 47, 66, 0.4);
      border: 1px solid rgba(46, 47, 66, 0.4);
      border-radius: 4px; 
      background-color: transparent;
      padding: 8px 16px;
      outline: transparent;
      resize: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      
  
  
  }
  .contacts-form-input:focus{
    border-color: #4D5AE5;
  }
  textarea:focus{
      border-color: #4D5AE5;
  }
  .contacts-form-submit-btn{
    margin: 0 auto; 
  }
  .accent-color{
    text-decoration: underline;
  }
}
@media screen and (max-width:1157px) {
  .advantages-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width:1157px) {
  .underline{
    max-width: 584px;
  }
}
/* ========================== DESKTOP ======================== */
@media screen  and (min-width: 1158px){

/* ========================= HEADER =================== */
.mobile-menu-open-btn{
  display: none;
}
.mobile-menu-container{
  display: none;
}
.contacts-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  
}
.contacts {
  font-style: normal;
}
.contacts-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:active,
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ======================= FIRST SECTION ============== */
.first-section {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 188px 0;
  margin-right: auto;
  margin-left: auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg.jpg/people-office.jpg');
  background-size: cover;
}
@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx){
    .first-section{
      background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/retina/people-office-desc@2x.jpg');
    }
  }
 /* ======================== ADVANTAGES =============== */
  
.second-section{
  margin-right: auto;
  margin-left: auto;
  padding: 120px 0;
}

.headers-list-menu {
  width: 264px;

}
.strategy-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}
.goal {
  font-weight: 400;
}
.third-section{
  margin-right: auto;
  margin-left: auto;
  padding: 120px 0;
}

/* ======================= OUR PORTFOLIO=========== */
  .fourth-section{
    padding: 120px 0;
  }
.about {
    gap: 48px 24px;
  }
  .adds {
    width: 360px;
  }
  /* ==================== FOOTER==================== */
  .underline-form{
    margin-top: 0;
  }
  .underline{
    flex-wrap: nowrap;
    gap: unset;
  }
  .bottom-underline{
    margin-right: 120px;
  }
  .media-bottom{
    margin-right: 80px;
  }
}
  

  