.team-section {
  padding: 120px 0;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-item {
  width: calc((100% - 72px) / 4);

  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-member {
  display: block;
  width: 100%;
}
.member-position {
  margin-bottom: 8px;
}

.member-descr {
  padding: 32px 16px;
  text-align: center;
}
